* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  background-color: pink;
  padding: 50px;
  margin: 0 auto;

  /* width: 600px; */
  width: 80%;
}

.child {
  background-color: aqua;
  height: 250px;

  /* width: 400px; */
  width: 70%;
}

.spacer {
  height: 50px;
}

.container {
  background-color: rgb(13, 58, 78);
  color: white;

  width: 80%;
  margin: 0 auto;

  /* height: 250px; */
  padding: 2em;
}
