* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.spacer {
  height: 50px;
}

.parent {
  background-color: pink;
  padding: 50px;
  margin: 0 auto;

  width: 600px;
  /* width: 80%; */
}

.child {
  background-color: aqua;
  height: 250px;

  width: 400px;
  /* width: 70%; */
}

.container {
  background-color: rgb(13, 58, 78);
  color: white;

  width: 600px;
  margin: 0 auto;

  height: 250px;
  /* padding: 2em; */
}

.responsive-parent {
  background-color: pink;
  padding: 50px;
  margin: 0 auto;

  /* width: 600px; */
  width: 80%;
}

.responsive-child {
  background-color: aqua;
  height: 250px;

  /* width: 400px; */
  width: 100%;
}

.responsive-container {
  background-color: rgb(13, 58, 78);
  color: white;

  width: 80%;
  margin: 0 auto;

  /* height: 250px; */
  padding: 2em;
}
